[include]
    path = ~/.gitconfig.local
    path = ~/.delta/themes.gitconfig

[pull]
    rebase = true

[rebase]
    # Helps if there are uncommitted changes when pulling
    autoStash = true

[fetch]
    prune = true

[rerere]
    enabled = true

[push]
    default = current

[init]
    defaultBranch = main

[delta]
    features = catppuccin-latte catppuccin-mocha diff-lines
    navigate = true  # use n and N to move between diff sections
    detect-dark-light = always
    diff-so-fancy = true
    true-color = always

[delta "diff-lines"]
    side-by-side = true
    hyperlinks = true
    # hyperlinks-file-link-format = "vscode://file/{path}:{line}"
    hyperlinks-file-link-format = "idea://open?file={path}&line={line}"

[core]
    excludesfile = ~/.gitignore
    pager = delta
    autocrlf = input

[diff]
    colorMoved = default

[merge]
    conflictstyle = zdiff3

[interactive]
    diffFilter = delta --color-only